    <!-- Left Side Nav Start -->
    
    <!-- Left Side Nav End -->

    <!-- Main Section Start -->
    
    <div class="" style = "text-align: left" (click)="demoService.showclickorder = false || demoService.showRetailerProfile = false || demoService.showEditRetailerView = false;">
      <!-- Generic wrap start -->
      <div class="">
        <div class="container-fluid">
          <a routerLink="/dashboard/search" class="ac-back-to-listing">Back to Distributor</a>
          <div class="row ac-prod-detail-upper">
            <!-- Descripion Part -->
            <div class="col-xs-12 col-sm-12 col-lg-6 ac-prod-left">

                <!-- <h2 class="ac-prod-title">{{demoService.productInfo && demoService.productInfo.manufacturerName ? demoService.productInfo.manufacturerName : ''}} {{demoService.productInfo && demoService.productInfo.model ? demoService.productInfo.model : ''}}</h2> -->
                <h2>{{demoService.productInfo && demoService.productInfo.product_Name ? demoService.productInfo.product_Name : ''}}</h2>
                <span class="ac-prod-cost" *ngIf="demoService.productInfo && demoService.productInfo.msrp && demoService.productInfo.msrp!=0">MSRP<strong><em>$</em>{{demoService.productInfo && demoService.productInfo.msrp  ? demoService.productInfo.msrp : ''}}</strong></span>
                <span class="ac-prod-feat">Manufacturer Part Number<br><strong>{{demoService.productInfo && demoService.productInfo.mpn ? demoService.productInfo.mpn : ''}}</strong></span>
                <div class="ac-prod-logo-row">
                  <span class="ac-prod-feat">Manufacturer<br><strong>{{demoService.productInfo && demoService.productInfo.manufacturerName ? demoService.productInfo.manufacturerName : ''}}</strong></span>
                  <!-- <img src="assets/demo-assets/dealer6.png"> -->
                </div>
                <span class="ac-prod-feat">Distributor<br><strong>{{demoService.productInfo && demoService.productInfo.distributor_name ? demoService.productInfo.distributor_name : ''}}</strong></span>
                <span class="ac-prod-feat">UPC<strong><br>{{demoService.productInfo && demoService.productInfo.upc ? demoService.productInfo.upc : ''}}</strong> <i class="ac-tool-tip" title="Tooltip Descripion Here"></i></span>
                <span class="ac-store-location">Select a Shipping method<br>
                 
                  <select name="selectedShipping" [(ngModel)]="selectedShipping">
                    <option *ngFor="let value of values" [ngValue]="value.key">{{value.name}}</option>
                  </select>
                </span>
                <div>
                    <span class="ac-prod-cost">Base Price<strong><em>$</em>{{demoService.productInfo && demoService.productInfo.retailerPrice ? demoService.productInfo.retailerPrice : 0}}</strong></span>
                    
                    <span class="ac-prod-cost">Retailer Markup<strong><em>$</em>{{demoService.productInfo && demoService.productInfo.retailerMarkup ? demoService.productInfo.retailerMarkup : 0}}%</strong></span>
                    <span class="ac-prod-cost">Amount Payable<strong><em>$</em>{{demoService.productInfo && demoService.productInfo.productPrice ? demoService.productInfo.productPrice : 0 | number : '1.2-2'}}</strong></span>
                </div>
                <!-- <div class="ac-prod-buying-options" *ngIf="(demoService.productInfo && demoService.productInfo.inStock && demoService.productInfo.inStock > '0') || (ssProductQuantity && ssProductQuantity >'0')">
                    <input type="number" name="quantity" min="1" max="{{demoService.productInfo.inStock || ssProductQuantity}} " [(ngModel)]="selectedQuantity" (ngModelChange)="onQuantityChange($event)">
                    <button class="ac-result-quick-order" (click) = "placeOrder()">PLACE MY ORDER</button>
                </div> -->
                <div class="ac-prod-buying-options" *ngIf="demoService.productInfo && demoService.productInfo.distributor_name == 'SS' && ssProductQuantity && ssProductQuantity > '0'">
                    <input type="number" name="quantity" min="1" max="{{ssProductQuantity}}" [(ngModel)]="selectedQuantity" (ngModelChange)="onQuantityChange($event)">
                    <!-- <button class="ac-result-quick-order" (click) = "placeOrder($event)">PLACE MY ORDER</button> -->
                    <button class="ac-result-quick-order" (click) = "dashboardComponent.addToCart($event,demoService.productInfo,true)">ADD TO CART</button>  
                </div>
                <div class="ac-prod-buying-options" *ngIf="demoService.productInfo && demoService.productInfo.distributor_name != 'SS' && demoService.productInfo.inStock && demoService.productInfo.inStock > '0'">
                    <input type="number" name="quantity" min="1" max="{{demoService.productInfo.inStock}} " [(ngModel)]="selectedQuantity" (ngModelChange)="onQuantityChange($event)">
                    <button class="ac-result-quick-order" (click) = "placeOrder($event)">PLACE MY ORDER</button>
                    <button class="ac-result-quick-order" (click) = "dashboardComponent.addToCart($event,demoService.productInfo,true)">ADD TO CART</button>
                </div>


                <div class="clearfix"></div>
                <div class="ac-stock-availability" >
                <div class="ac-prod-buying-options" *ngIf="ssProductQuantity && ssProductQuantity > '0'">
                  <h4> Only <span>{{ssProductQuantity}}</span> left in stock!</h4>
                </div>
                </div>
               
                <!-- <div class="ac-prod-buying-options" *ngIf="(demoService.productInfo && demoService.productInfo.inStock && demoService.productInfo.inStock <= '0') || (ssProductQuantity && ssProductQuantity <= '0')">
                    <button class="ac-result-quick-order">OUT OF STOCK</button>
                </div> -->

                <div class="ac-prod-buying-options" *ngIf="demoService.productInfo && demoService.productInfo.distributor_name == 'SS' && ssProductQuantity && ssProductQuantity <= '0'">
                  <button class="ac-result-quick-order">OUT OF STOCK</button>
                </div>
                <div class="ac-prod-buying-options" *ngIf="demoService.productInfo && demoService.productInfo.distributor_name != 'SS' && demoService.productInfo.inStock && demoService.productInfo.inStock <= '0'">
                  <button class="ac-result-quick-order">OUT OF STOCK</button>
                </div>

            </div>

            <!-- Image Viewer -->
            <div class="col-xs-12 col-sm-12 col-lg-6 ac-prod-right">
                <div class="ac-image-viewer" *ngIf="demoService.productInfo">
                <img [src]="demoService.productInfo.largeImage ? demoService.productInfo.largeImage : demoService.productInfo.smallImage ? demoService.productInfo.smallImage : ''">
                  <!-- <span class="ac-iv-pane" *ngIf="demoService.productInfo && demoService.productInfo.largeImage"><img src="{{demoService.productInfo.largeImage}}" style="filter: none;"></span>
                  <ul>
                    <li class="active" *ngIf="demoService.productInfo && demoService.productInfo.smallImage"><img src="{{demoService.productInfo.smallImage}}" style="filter: none;"></li>
                  </ul> -->
                </div>
            </div>
          </div>

          <div class="row ac-prod-detail-lower">
            <div class="col-xs-12 col-sm-12 col-lg-12">
              <!-- Tab Header -->
              <ul class="ac-order-info-tabs">
                <li><a href="javascript:void(0);" class="active">Product Specifications</a></li>
                <!-- <li><a href="javascript:void(0);">Product Specifications</a></li>
                <li><a href="javascript:void(0);">Shipping Terms</a></li>
                <li><a href="javascript:void(0);">Legal</a></li> -->
              </ul>
              <!-- Tab Body -->
              <div class="ac-order-info-tab-contents">
                  <div class="ac-order-tab-content active" style="display: none;">
                      <p>
                        {{demoService.productInfo && demoService.productInfo.longDescription ? demoService.productInfo.longDescription : ''}}<br>Manufacturer Part: {{demoService.productInfo && demoService.productInfo.mpn ? demoService.productInfo.mpn : ''}}<br><!-- SKU: {{demoService.productInfo && demoService.productInfo.sku ? demoService.productInfo.sku : ''}}<br> -->UPC: {{demoService.productInfo && demoService.productInfo.upc ? demoService.productInfo.upc : ''}}
                      </p>
                  </div>
                  <div class="ac-order-tab-content" style="display: none;">
                      -Content Here-
                  </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- Generic wrap end -->
    </div>
    <!-- Main Section End -->


        <!-- CREATE NEW EMPLOYEE : START -->
        <div *ngIf="demoService.showclickorder == true">
    <div class="ac-create-employee-drawer text-left" style="right:-400px;opacity:0;">
        <div (click) = "placeMyOrderClose()">
            <span class="placeMyOrderClose"></span>
            </div>
      <span class="shippingInfoWrapper">
        <a href="" class="shippingInfoWrapperIcon"></a>
        <h4>Billing and Delivery</h4>
      </span>
      <div class="clearfix"></div>
      <div class="shippingInfoWrapperAccordian">
        <!-- <div class="shippingInfoSubHead">Choose a shipping method</div> -->
        <div class="shippingInfoSubHead">Enter shipping address</div>
        <form class="ac-create-employee-body" #shippingForm="ngForm">
          <!-- <div class="form-group">
            <label for="usr_firstname">RETAILER NAME</label>
            <span class="form-control">name</span>
          </div> -->
          <div class="form-group">
            <label for="sales_associate">SALES ASSOCIATE</label>
            <span class="form-control">{{userDetails.first_name}} {{userDetails.last_name}}</span>
          </div>
          <div class="form-group">
            <label for="usr-store" class="field-wrapper required-field">STORE</label>
            <select class="form-control" name="selectedStore" [(ngModel)]="selectedStore" required>
              
               <option *ngFor="let value of retailerStoreDetails" [ngValue]="value.StoreId" >{{value.StoreName}}</option>
            </select>
           
            <!-- <select [(ngModel)]="selectedShipping">
              <option *ngFor="let value of values" [ngValue]="value.key">{{value.name}}</option>
            </select> -->
          </div>
          
          <!-- <div class="form-group">
            <label for="usr_address">ADDRESS</label>
            <span class="form-control">Address</span>
          </div> -->
          <!-- <div class="shippingInfoDrop">
            <label for="usr_confirm_password">ZIP CODE</label>
            <span class="form-control" style="width: 89px;font-weight: 100;">zip code</span>
          </div> -->
          <!-- <div class="shippingInfoDrop">
            <label for="usr_confirm_password">CITY</label>
            <span class="form-control" style="width: 89px;font-weight: 100;">city</span>
          </div> -->
          <!-- <div class="form-group pull-right" style="width:32%;">
            <label for="usr_confirm_password">STATE</label>
            <span class="form-control">state</span>
          </div> -->
          <!-- <div class="ac-ffl-checking">
            <input type="checkbox" class="selectioncheck" name="group1" id="group1" checked="checked" style="position: relative;">
            <span>FFL Required</span>
          </div> -->
          <!-- <div class="form-group">
            <label for="usr-store">DELIVERY ADDRESS</label>
            <select class="form-control">
              <option>Same as billing</option>
              <option>lorem</option>
              <option>lorem</option>
              <option>lorem</option>
            </select>
          </div> -->
          <!-- <span class="ac-create-employee-foot">
            <button type="submit" class="btn btn-default">CONTINUE TO CUSTOMER INFO</button>
          </span> -->
        <!-- </form> -->
        <!-- </div> -->

      <!-- <div class="custumer-info-form"> -->
      <span class="shippingInfoWrapper">
        <a href="" class="customerInfoIcon shippingInfoWrapperIcon"></a>
        <h4>Customer Info</h4>
      </span>
      <div class="clearfix"></div>
      <!-- <form class="ac-create-employee-body" #shippingForm="ngForm"> -->
        <div class="form-group" style="width:48%;" >
          <label for="name" class="field-wrapper required-field">FIRST NAME</label>
          <input type="text" class="form-control" name = "name" placeholder="Enter your first name" id="name" [(ngModel)]="firstName" maxlength="30" pattern="[a-zA-Z][a-zA-Z ]+" required #name="ngModel">
          <!-- <input type="text" class="form-control" id="name" required pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="firstName" name="firstName" #name="ngModel"> -->
          <div *ngIf= "name.errors && (name.dirty || name.touched)" class="ac-required-field">
            <!-- <div [hidden]="!name.errors.minlength">
              First name must be at least 5 characters long.
            </div>
            <div [hidden]="!name.errors.maxlength">
              First name cannot be more than 30 characters long.
            </div> -->
            <div [hidden]="!name.errors.pattern">
              Numbers not allowed!
            </div>
          </div>
        </div>

        <div class="form-group pull-right" style="width:48%;">
          <label for="usr_lastname" class="field-wrapper required-field">LAST NAME</label>
          <input type="text" class="form-control" placeholder="Enter your last name" id="usr_lastname" [(ngModel)]="lastName" name="usr_lastname" pattern="[a-zA-Z][a-zA-Z ]+" required minlength="1" maxlength="10" #usr_lastname="ngModel">
          <div *ngIf= "usr_lastname.errors && (usr_lastname.dirty || usr_lastname.touched)" class="ac-required-field">
            <div [hidden]="!usr_lastname.errors.minlength">
              Last name must be at least 1 character long.
            </div>
            <div [hidden]="!usr_lastname.errors.maxlength">
              Last name cannot be more than 10 characters long.
            </div>
            <div [hidden]="!usr_lastname.errors.pattern">
              Numbers not allowed!
            </div>
          </div>
        </div>

        <div class="form-group pull-right">
          <label for="phone_number" class="field-wrapper required-field">PHONE</label>
          <input type="text" class="form-control" placeholder="Enter your phone#" id="phone_number" [(ngModel)]="phone" name="phone_number" required pattern="[0-9]*" minlength="1" maxlength="10" #phone_number="ngModel">

          <div *ngIf= "phone_number.errors && (phone_number.dirty || phone_number.touched)" class="ac-required-field">
            <div [hidden]="!phone_number.errors.minlength">
              Phone # must be 10 characters long.
            </div>
            <div [hidden]="!phone_number.errors.maxlength">
              Phone # cannot be more than 10 characters long.
            </div>
            <div [hidden]="!phone_number.errors.pattern">
              Only numbers allowed!
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="usr_email" class="field-wrapper required-field">EMAIL</label>
          <input type="text" class="form-control" placeholder="Enter your email " id="usr_email" [(ngModel)]="email" name="usr_email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #usr_email="ngModel">
          <div *ngIf= "usr_email.errors && (usr_email.dirty || usr_email.touched)" class="ac-required-field">
            <div [hidden]="!usr_email.errors.pattern">
              Invalid email format!
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="usr_address" class="field-wrapper required-field">STREET ADDRESS</label>
          <input type="text" class="form-control" placeholder="Enter your address" id="usr_address" [(ngModel)]="address" name="usr_address" required pattern="^[a-zA-Z0-9\s,'-]*$" #usr_address="ngModel">
          <div *ngIf= "usr_address.errors && (usr_address.dirty || usr_address.touched)" class="ac-required-field">
            <div [hidden]="!usr_address.errors.pattern">
              Invalid address format!
            </div>
          </div>
        </div>

        <div class="form-group pull-left" style="width:28%;">
          <label for="usr_zipcode" class="field-wrapper required-field">ZIP CODE</label>
          <input type="text" class="form-control" placeholder="Enter your zip code" id="usr_zipcode" [(ngModel)]="zipcode" name="usr_zipcode" required pattern="[0-9]*" minlength="1" maxlength="6" #usr_zipcode="ngModel">
          <div *ngIf= "usr_zipcode.errors && (usr_zipcode.dirty || usr_zipcode.touched)" class="ac-required-field">
             <div [hidden]="!usr_zipcode.errors.pattern">
              Invalid zipcode format!
            </div>
          </div>
        </div>

        <div class="form-group" style="width:38%;padding-left: 15px;">
          <label for="usr_city" class="field-wrapper required-field">CITY</label>
          <input type="text" class="form-control" placeholder="Enter your city" id="usr_city" [(ngModel)]="city" name="city" required pattern="[a-zA-Z ]*" #usr_city="ngModel">
          <div *ngIf= "usr_city.errors && (usr_city.dirty || usr_city.touched)" class="ac-required-field">
              <div [hidden]="!usr_city.errors.pattern">
               Invalid city format!
             </div>
           </div>
        </div>
        <div class="form-group pull-right" style="width:28%;">
          <label for="usr_state" class="field-wrapper required-field">STATE</label>
          <input type="text" class="form-control" placeholder="Enter your state" id="usr_state" [(ngModel)]="state" name="state" required pattern="[a-zA-Z ]*" #usr_state="ngModel">
          <div *ngIf= "usr_state.errors && (usr_state.dirty || usr_state.touched)" class="ac-required-field">
              <div [hidden]="!usr_state.errors.pattern">
               Invalid state format!
             </div>
           </div>
        </div>

        <div class="form-group">
          <label for="delivery_inst">DELIVERY INSTRUCTIONS</label>
          <input type="text" class="form-control" id="delivery_inst" [(ngModel)]="delivery" name="delivery">
        </div>

        <span class="ac-create-employee-foot">
          <button type="submit" class="btn btn-default custom-button" [disabled]="!shippingForm.form.valid" (click) = "getToken(shippingForm)">CONFIRM ORDER</button>
        </span>

      </form>
      </div>
    </div>
    </div>
  
    <!-- CREATE NEW EMPLOYEE : END -->


    <!-- success popup starts -->
    <div class="row fadebg" [class.show]="demoService.showPopup"></div>
    <div class="confirmPopup" [class.show]="demoService.showPopup">
      <div class="successImgIcon"></div>
      <div class="sucessMsgText text-center">
        <h4>SUCCESS</h4>
        <P>Congratulations!! You have successfully placed the order.</P>
      </div>
      <div class=" col-md-6 gotoDashboardBtn text-right">
        <span routerLink="/dashboard">GO TO DASHBOARD</span>
      </div>
      <div class=" col-md-6 checkOrderStatusBtn text-left">
        <span routerLink="../order">CHECK ORDER STATUS</span>
      </div>
    </div>
    <!-- success popup ends -->
    <!-- <div class="ac-actions-overlay" style="display:none;" (click)="demoService.showclickorder = false || demoService.showRetailerProfile = false || demoService.showEditRetailerView = false;"></div> -->

    