   
        <div class="container-fluid" (click)="demoService.showRetailerProfile = false;">
          <div class="row"><!-- Page Title -->
            <div class="col-xs-12 col-sm-9 col-lg-9" *ngIf="category && category.distributor_name">
              <h3 class="ac-page-title ac-page-title-logo"><img src="assets/demo-assets/dealer1.png">{{category.distributor_name}}</h3>
            </div>
            <div class="col-xs-12 col-sm-3 col-lg-3 text-right xs-text-left">
              <a routerLink="../markup" class="ac-back-to-listing">Back to Distributor</a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 ac-distributor-listing">
                <!-- Distributor Product Cards Start -->
              <div class="ac-distributor-cards">

                  <!-- Single Card Start -->
                  
			<div *ngIf="category && category.markups.length >0" >
                <div *ngFor="let markup of markupList; let i = index">                
                  <div class="ac-distributor-card" [ngClass]="{ 'ac-show-markup': temp && temp.categoryId == markup.categoryId }">
                     <div class="ac-distributor-head">
                        <!-- <span class="ac-distributor-head-right">
                          <span class="ac-more-menu"> 
                            <i class="ac-more-dots"></i>
                            <ul style="display: none;">
                              <li><a href="#">Option One</a></li>
                              <li><a href="#">Option Two</a></li>
                              <li><a href="#">Option Three</a></li>
                            </ul>
                          </span>
                        </span> -->
                     </div>
                     <div class="ac-distributor-clickable" id="{{markup.categoryId}}">
                         <div class="ac-distributor-body">
                            <img src="assets/images/gun-long.png" alt="Long Gun" class="ac-product-logo">
                            <h4>{{markup.categoryName}}</h4>
                         </div>
                         <!-- <div class="ac-distributor-foot">
                           <span class="ac-distributor-foot-left"><strong>50</strong><br>Pipeline Orders</span>
                           <span class="ac-distributor-foot-right"><strong>250</strong><br>Live Inventory</span>
                         </div> -->
                         <!-- Markup Button -->
                         <span class="ac-dist-add-markup" style="display:none;">
                           <a (click) = "addMarkup(markup)">Add Markup</a>
                         </span>
                     </div>
                     <!-- Markup Form -->
                     <!-- <div class="ac-dist-add-markup-form" style="display:none;">
                       <span class="ac-markup-form">
                          <label>Enter your markup (%)</label>
                          <input type="text" name="markupValue" [(ngModel)]="markupValue" placeholder="Markup (%)" pattern="^([0-9]{1,2}){1}(\.[0-9]{1,2})?$" #model="ngModel">
                          <div *ngIf="model.errors && (model.dirty || model.touched)" style="color: red;" class="ac-required-field">
                            <div [hidden]="!model.errors.pattern">
                              Enter a value between 0-99.99 (upto two decimals)!
                            </div>
                          </div>
                          <span>{{!markupValue}}</span>
                          <span>{{markupValue}}</span>
                          <button class="ac-markup-form-btn" (click)="updateMarkup(markupValue)" [disabled]="!markupValue || markupValue.invalid">APPLY</button>
                       </span>
                       <a class="ac-close-markup" (click) = "cancelMarkup(markup)">Cancel</a>
                     </div> -->

                     <div class="ac-dist-add-markup-form" style="display:none;">
                       <span class="ac-markup-form">
                       <form #loginForm="ngForm">
                          <label>Enter your markup (%)</label>
                            <input type="text" name="markupValue" [(ngModel)]="markupValue" placeholder="Markup (%)" pattern="^([0-9]{1,2}){1}(\.[0-9]{1,2})?$" #model="ngModel">
                            <div *ngIf="model.errors && (model.dirty || model.touched)" style="color: red;" class="ac-required-field">
                              <div [hidden]="!model.errors.pattern">
                                Enter a value between 0-99.99 (upto two decimals)!
                              </div>
                            </div>
                          <button  [disabled]="!loginForm.form.valid" class="ac-markup-form-btn" (click)="updateMarkup(markupValue)" [disabled]="!markupValue || markupValue.invalid" >APPLY</button>
                        </form>
                      </span>
                      <a class="ac-close-markup" (click) = "cancelMarkup(markup)">Cancel</a>
                     </div>


                  </div>
                  </div>
                </div>
                  <!-- Single Card End -->
                 <!-- Removed dummy cards -->
              </div>
              <!-- Distributor Product Cards Start -->

            </div>
          </div>
        </div>


<div class="row fadebg" [class.show]="updateMarkupPopup"></div>
<div class="confirmPopup" [class.show]="updateMarkupPopup">
  <div class="successImgIcon"></div>
  <div class="sucessMsgText text-center">
    <h4>{{successTitle}}</h4>
    <P>{{successDescription}}</P>
  </div>
  <div class=" col-md-6 gotoDashboardBtn text-right">
    <!-- <span routerLink="/dashboard">OK</span> -->
    <span (click) ="updateMarkupPopup = !updateMarkupPopup" style = " margin-right: -25px;">OK</span>
  </div>
  
</div>
<div class="ac-actions-overlay" style="display:none;" (click)="demoService.showRetailerProfile = false;"></div>