<div  class="container-fluid">
  <div class="row"><!-- Page Title -->
    <div class="col-xs-12 col-sm-9 col-lg-9">
      <h3 class="ac-page-title">Atlantic FireArms LLC. <em class="ac-user-greeting">Welcome, Adriana</em></h3>
    </div>
    <div class="col-xs-12 col-sm-3 col-lg-3"><!-- Solve E=mc2 --></div>
  </div>
  <div class="row"><!-- Account Stats -->
    <div class="col-xs-12 col-sm-6 col-lg-3 ac-single-stat-box">
      <div class="ac-single-stat-inset">
        <h3 class="ac-stat-icn-order">Orders</h3>
                <span>
                  <strong>250<sup>+</sup></strong>
                </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 ac-single-stat-box">
      <div class="ac-single-stat-inset">
        <h3 class="ac-stat-icn-invntry">Inventory</h3>
                <span>
                  <strong>2500<sup>+</sup></strong>
                </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 ac-single-stat-box">
      <div class="ac-single-stat-inset">
        <h3 class="ac-stat-icn-distribtr">Distributors</h3>
                <span>
                  <strong>10<sup>+</sup></strong>
                </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 ac-single-stat-box">
      <div class="ac-single-stat-inset">
        <h3 class="ac-stat-icn-cstmrob">Customers Onboard</h3>
                <span>
                  <strong>1000<sup>+</sup></strong>
                </span>
      </div>
    </div>
  </div>

  <!-- Tabs
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
    <ul class="ac-order-info-tabs">
      <li><a href="#" class="active">Latest Orders</a></li>
      <li><a href="#">Order Status</a></li>
      <li><a href="#">Shipping Pipeline</a></li>
    </ul>
    </div>
  </div>
  -->

</div>
