<div class="">
  <div class="">
    <div class="container-fluid" (click)="this.demoService.showNav=false || demoService.showRetailerProfile = false;">
      <div class="row"><!-- Page Title -->
        <div class="col-xs-12 col-sm-9 col-lg-9 text-left">
          <h3 class="ac-page-title">Employee Management</h3>
        </div>
        <div class="col-xs-12 col-sm-3 col-lg-3 text-right xs-text-left">
          <button  class="ac-button-outlined " (click)="showCreateEmployee($event)"><i style="display: inline-block;font-size: 22px;    font-style: normal; padding-right: 5px;vertical-align: top;">+</i>CREATE NEW</button>
        </div>
      </div>

      <div class="row" *ngIf= "demoService.usersList && demoService.usersList.data">
      <div ><!-- Employee Listing -->
        <div class="col-xs-12 col-sm-12 col-lg-12 ac-employee-listing" >
          <ul class="ac-employees-unsorted">

            <li *ngFor="let user of demoService.usersList.data.Users">
              <a>
                <span><img src="assets/demo-assets/user1.png" /></span>
                <h4>{{user.Username}}</h4>
                <h5>Store User</h5>
              </a>
            </li>            
          </ul>
        </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Generic wrap end -->
</div>
<!-- Main Section End -->

<!-- CREATE NEW EMPLOYEE : START -->

<div class="ac-create-employee-drawer" style="right:-400px;opacity:0;">
      <span class="ac-create-employee-head">
        <a class="ac-close-employee-drawer" (click) = "this.demoService.showNav = !this.demoService.showNav"></a>
        <h4>Add Employee</h4>
      </span>
  <form class="ac-create-employee-body" #employeeForm="ngForm">
    <div class="form-group">
      <label for="name">FIRST NAME</label>
      <input type="text" class="form-control" placeholder="Enter your first name" id="name" name="name" [(ngModel)]="userInfo.firstName" pattern="[a-zA-Z ]*" required #name="ngModel">
      <div *ngIf= "name.errors && (name.dirty || name.touched)" class="ac-required-field">
            <!-- <div [hidden]="!name.errors.minlength">
              First name must be at least 5 characters long.
            </div>
            <div [hidden]="!name.errors.maxlength">
              First name cannot be more than 30 characters long.
            </div> -->
            <div [hidden]="!name.errors.pattern">
              Invalid characters not allowed!
            </div>
      </div>
    </div>
    <div class="form-group">
      <label for="usr_lastname">LAST NAME</label>
      <input type="text" class="form-control" placeholder="Enter your last name" id="usr_lastname" [(ngModel)]="userInfo.lastName" name="usr_lastname" pattern="[a-zA-Z ]*" #usr_lastname="ngModel">
      <div *ngIf= "usr_lastname.errors && (usr_lastname.dirty || usr_lastname.touched)" class="ac-required-field">
            <!-- <div [hidden]="!usr_lastname.errors.minlength">
              Last name must be at least 1 character long.
            </div>
            <div [hidden]="!usr_lastname.errors.maxlength">
              Last name cannot be more than 10 characters long.
            </div> -->
            <div [hidden]="!usr_lastname.errors.pattern">
              Invalid characters not allowed!
            </div>
          </div>
    </div>
    <div class="form-group">
      <label for="usr_email">EMAIL ID</label>
      <input type="email" class="form-control" placeholder="Enter your email address" id="usr_email" [(ngModel)]="userInfo.email" name="usr_email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #usr_email="ngModel">
      <div *ngIf= "usr_email.errors && (usr_email.dirty || usr_email.touched)" class="ac-required-field">
        <div [hidden]="!usr_email.errors.pattern">
          Invalid email format!
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="usr_password">PASSWORD</label>
      <input type="password" class="form-control" placeholder="Enter your password" id="usr_password" minlength="8" [(ngModel)]="userInfo.password" name="usr_password" required  pattern="^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9@]+)$" #usr_password="ngModel">
      <div *ngIf= "usr_password.errors && (usr_password.dirty || usr_password.touched)" class="ac-required-field">
        <div [hidden]="!usr_password.errors.minlength">
          Password must be at least 8 characters long.
        </div>
        <div [hidden]="!usr_password.errors.pattern">
          Password should have atleast 1 number and 1 alphabet!
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="usr_confirm_password">CONFIRM PASSWORD</label>
      <input type="password" class="form-control" placeholder="Confirm your password" id="usr_confirm_password" required [(ngModel)]="userInfo.confirmPassword" name="usr_confirm_password" #usr_confirm_password="ngModel">
      <div *ngIf="(usr_confirm_password.dirty || usr_confirm_password.touched) && (usr_password.value != usr_confirm_password.value)" class="help-block has-error" class="ac-required-field">
        <div [hidden]="(usr_password.value == usr_confirm_password.value)">
          Password Does Not Match!
        </div>
      </div>
    </div>
      <span class="ac-create-employee-foot">
        <button type="submit" class="btn btn-default custom-button" [disabled]="!employeeForm.form.valid" (click) = "getToken()">CREATE EMPLOYEE</button>
      </span>
  </form>

</div>
<!-- CREATE NEW EMPLOYEE : END -->


<div class="ac-actions-overlay" style="display:none;"></div>


<div class="row fadebg" [class.show]="demoService.createUserPopup"></div>
<!-- <div class="" [ngClass]="demoService.showPopup ? 'confirmPopup' : 'hideLayout'"> -->
   
<div class="confirmPopup" [class.show]="demoService.createUserPopup">
  <div class="successImgIcon"></div>
  <div class="sucessMsgText text-center">
    <h4>{{demoService.createUserStatus}}</h4>
    <P>{{demoService.createUserMessage}}</P>
  </div>
  <div class=" col-md-6 gotoDashboardBtn text-right">
    <span (click) ="demoService.createUserPopup= !demoService.createUserPopup" style = " margin-right: -25px;">OK</span>
  </div>
  
</div>