<!-- Main Section Start -->

  <!-- Global Header Start -->
  
  <!-- Global Header End -->
  <!-- Generic wrap start -->
  <div class="" style="padding: 0px;">
    <div class="container-fluid">
      <div class="row"><!-- Page Title -->
        <div class="col-xs-12 col-sm-9 col-lg-9" style="padding-top: 30px;">
          <h3 class="ac-page-title ac-page-title-logo" style="padding-left: 0px;">Profile</h3>
          <div class="ac-profile-details">
          <div class="profile-base-info">
          <span class="profile-base-info-box border-rgt">Store Outlets<br><strong>50</strong></span>
          <span class="profile-base-info-box border-rgt">Sales Associates<br><strong>150</strong></span>
          <span class="profile-base-info-box border-rgt">Total Experience<br><strong>20</strong><span>yrs</span></span>
          <span class="profile-base-info-box">Net Turnover<br><span>$</span><strong>750,000</strong></span>
        </div>
        <div class="profile-sub-heads">
          <h6>RETAILER DETAILS<img src="assets/images/edit.svg"></h6>
        </div>
        <div class="profile-extra-info" style="margin-bottom: 10px;">
          <h6>Primary Contact Person</h6>
          <span>Adriana Blandford</span>
        </div>
        <div class="profile-extra-info">
          <h6>Corporate Profile</h6>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed neque nisl. Aliquam facilisis sem volutpat felis mollis varius fringilla non nibh. Nam fermentum accumsan nibh vitae dictum. Aenean ornare lorem velit, at vulputate tellus vehicula et. Ut eu est ex. Maecenas porttitor libero eu pharetra pellentesque. Mauris nulla augue, feugiat eu quam non, euismod mattis enim. Suspendisse mattis odio non sem rutrum porta.</span>
        </div>

        <div class="profile-sub-heads">
          <h6>STORE LOCATIONS<img src="images/edit.svg"></h6>
        </div>
        <!-- <div class="row">
          <div class="col-xs-12 col-sm-12 col-lg-12 ac-employee-listing">
            <ul class="ac-employees-unsorted ac-storelocation-unsorted">
              <li>
                <span><img src="demo-assets/user1.png" alt="Andrew Wilkinson" /></span>
                <h4>Andrew Wilkinson</h4>
                <h5>Store Manager</h5>
              </li>
            </ul>
          </div>
        </div> -->
        <div class="store-location-unsorted">
          <div class="col-sm-4 store-location-unsorted-list">
            <div class="col-sm-4 store-location-img"></div>
            <div class="col-sm-8 store-location-details">
              <h5>Las Vegas</h5>
              <span>Pier 33 - Alcatras Island San Francisco,CA,USA<br>Ph:+1 702-567-5118</span>
            </div>
          </div>
          <div class="col-sm-4 store-location-unsorted-list">
            <div class="col-sm-4 store-location-img"></div>
            <div class="col-sm-8 store-location-details">
              <h5>San Francisco</h5>
              <span>Pier 33 - Alcatras Island San Francisco,CA,USA<br>Ph:+1 702-567-5118</span>
            </div>
          </div>
          <div class="col-sm-4 store-location-unsorted-list">
            <div class="col-sm-4 store-location-img"></div>
            <div class="col-sm-8 store-location-details">
              <h5>Charlotte</h5>
              <span>Pier 33 - Alcatras Island San Francisco,CA,USA<br>Ph:+1 702-567-5118</span>
            </div>
          </div>
        </div>
        </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-lg-3 ac-quick-profile-info">
        <div class="ac-quick-profile-img">
          <img src="assets/demo-assets/user1.png">
          <h4>{{retailerDetails.name}}</h4>
          <span>San Francisco,United States</span>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-12 socialmedia-listing">
          <ul class="socialmedia-unsorted">
            <li>
              <a href="#">
                <span><img src="assets/images/facebook-logo.svg"/></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span><img src="assets/images/twitter-logo-silhouette.svg"/></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span><img src="assets/images/linkedin-logo.svg"/></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="contact-info-wrapper">{{retailerDetails.email}}
        </div>
        <div class="contact-info-wrapper contact-call">702-567-1158
        </div>
        <div class="contact-info-wrapper contact-fax">702-567-1158
        </div>
        <div class="retailer-address-wrapper">
          <h4>Primary Address</h4>
          <span>Pier 33 - Alcatras Island San Francisco,CA,USA</span>
        </div>
        <div class="retailer-address-wrapper">
          <h4>Open Hours</h4>
          <span>Mon-Sat 9:00am-7:00pm | Sunday 11:00am-5:00pm</span>
        </div>
        <span class="ac-create-employee-foot ac-edit-profile">
          <button type="submit" class="btn btn-default">EDIT PROFILE</button>
        </span>
      </div>
      </div>
      </div>
      </div>
      <!-- <div class="col-sm-9 ac-profile-details">
        
      </div> -->
     
  
  <!-- Generic wrap end -->

<!-- Main Section End -->

<!-- Quick Access Bar Start -->
<div class="ac-quick-access-wrap">
  <a href="javascript:void(0);" class="ac-quick-access-togglr"><i class="glyphicon glyphicon-th-large flip"></i><i class="glyphicon glyphicon-th-list flop" style="display:none;"></i></a>
  <ul class="ac-quick-access-buttons">
    <li><a href="javascript:void(0);" class="ac-qacc-item1"><i style="display: none;">Menu Name1</i></a></li>
    <li><a href="javascript:void(0);" class="ac-qacc-item2"><i style="display: none;">Menu Name2</i></a></li>
    <li><a href="javascript:void(0);" class="ac-qacc-item3"><i style="display: none;">Menu Name3</i></a></li>
    <li><a href="javascript:void(0);" class="ac-qacc-item4"><i style="display: none;">Menu Name4</i></a></li>
    <li><a href="javascript:void(0);" class="ac-qacc-item5"><i style="display: none;">Menu Name5</i></a></li>
    <li><a href="javascript:void(0);" class="ac-qacc-item6"><i style="display: none;">Menu Name6</i></a></li>
  </ul>
</div>
<!-- Quick Access Bar End -->
