
<div [ngClass]="showOrderDetails ? 'ac-create-employee-on' : ''">

 <div class="container-fluid" (click)="showOrderDetails = false || demoService.showRetailerProfile = false;">
    <div class="row"><!-- Page Title -->
      <div class="text-left col-xs-6 col-sm-9 col-lg-9">
        <h3 class="ac-page-title">Orders</h3>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-3 text-right">
        <!-- <div class="ac-order-stat-actions">
          <a href="javascript:void(0);" class="ac-button-search"><i class="glyphicon glyphicon-search"></i></a>
          <a href="javascript:void(0);" class="ac-button-filter"></a>
        </div> -->
      </div>
    </div>
    <div class="row"><!-- Order Listing -->
        <div *ngIf="orderDetails && !orderDetails.length" class="noDetails"> No Details Found</div>
      <div class="col-xs-12 col-sm-12 col-lg-12 ac-order-status" *ngIf="orderDetails && orderDetails.length">
          <!-- Table Start -->
          <table class="table">
             
              <thead>
                  <tr>
                      <th>Order #</th>
                      <th>Product</th>
                      <th>Distributor</th>
                      <th>Customer</th>
                      <th>Date</th>
                      <th>Total</th>
                      <th>Status</th>
                      <th>View</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor = "let order of orderDetails">
                      <td>{{order.OrderID ? order.OrderID : ''}}</td>
                      <td>{{order.ProductName && order.ProductName != 'null' ? order.ProductName : ''}}</td>
                      <td>{{order.DistributorName && order.DistributorName != 'null' ? order.DistributorName : ''}}</td>
                      <td>{{order.ConsumerName ? order.ConsumerName : ''}}</td>
                      <td>{{order.OrderPlacedDate ? (order.OrderPlacedDate | date: 'dd/MM/yyyy') : ''}}</td>
                      <td>{{order.CustomerPrice ? (order.CustomerPrice | currency:'USD':true) : ''}}</td>
                      <td class="ac-stat-ordered">{{order.order_status ? order.order_status : ''}}</td>
                      <td><a class="ac-button-outlined" (click)="viewOrderDetails(order.OrderID,$event)">VIEW</a></td>
                  </tr>
              </tbody>
          </table>
          <!-- Table End -->
      </div>
    </div>
  </div>


 <!-- Quick Access Bar Start -->
 <!-- <div class="ac-quick-access-wrap">
  <a href="javascript:void(0);" class="ac-quick-access-togglr"><i class="glyphicon glyphicon-th-large flip"></i><i class="glyphicon glyphicon-th-list flop" style="display:none;"></i></a>
  <ul class="ac-quick-access-buttons">
    <li><a href="javascript:void(0);" class="ac-qacc-item1"><i style="display: none;">Menu Name1</i></a></li>
    <li><a href="javascript:void(0);" class="ac-qacc-item2"><i style="display: none;">Menu Name2</i></a></li>
    <li><a href="javascript:void(0);" class="ac-qacc-item3"><i style="display: none;">Menu Name3</i></a></li>
    <li><a href="javascript:void(0);" class="ac-qacc-item4"><i style="display: none;">Menu Name4</i></a></li>
    <li><a href="javascript:void(0);" class="ac-qacc-item5"><i style="display: none;">Menu Name5</i></a></li>
    <li><a href="javascript:void(0);" class="ac-qacc-item6"><i style="display: none;">Menu Name6</i></a></li>
  </ul>
</div> -->
<!-- Quick Access Bar End -->


<div class="ac-create-employee-drawer order-list-drawer text-left"  style="right:-600px;opacity:0;" >
  <span class="placeMyOrderClose" (click)="closeOrderList()"></span>
  <span class="ac-order-drawer-head">
      <h4>Order Details</h4>
  </span>
  <div class="clearfix"></div>
  <!-- <div class="inprogress_field">
      <span class="order-inprogress-Btn">In-Progress</span>
  </div> -->
  <div class="ac-order-details">
      <span>
          <p>Order #</p>
          <h5  *ngIf="showOrderDetails == true">{{selectedOrder.OrderID}}</h5>
      </span>
      <span>
          <p>Order Total</p>
          <h5 *ngIf="showOrderDetails == true">{{selectedOrder.CustomerPrice | currency:'USD':true}}</h5>
      </span>
      <span>
          <p>Ordered on</p>
          <h5 *ngIf="showOrderDetails == true">{{selectedOrder.OrderPlacedDate | date: 'dd/MM/yyyy'}}</h5>
      </span>
    <!--  <span>
          <p>Estimated Arrival</p>
          <h5 *ngIf="showOrderDetails == true">{{selectedOrder.arrival | date: 'dd/MM/yyyy'}}</h5>
      </span> -->
  </div>
  <div class="product-information-wrapper">
      <span class="ac-order-drawer-head">
          <h4 style="font-size: 13px;">Product Info</h4>
      </span>
      <div class="col-md-3 ac-productimg-field">
          <div class="productInfo-img-viewer" *ngIf="showOrderDetails == true">
              <img src="{{selectedOrder.SmallImage}}">
          </div>
      </div>
      <div class="col-md-9 productinfo-field">
           <!-- <h3>American Classic 1911 Amigo 45 ACP 3.5" 7+1Rds</h3> -->
           <h3 *ngIf="showOrderDetails == true">{{selectedOrder.ProductName}}</h3>
           <span>
              <p>MSRP</p>
              <h5 *ngIf="showOrderDetails == true">{{selectedOrder.msrp}}</h5>
          </span>
          <span>
              <p>Qty</p>
              <h5 *ngIf="showOrderDetails == true">{{selectedOrder.Quantity}}</h5>
          </span>
          <div class="clearfix"></div>
          <span>
              <p>Manufacturer</p>
              <h5 *ngIf="showOrderDetails == true">{{selectedOrder.manufacturer}}</h5>
          </span>
          <span>
              <p>Manufacturer Part Number</p>
              <h5 *ngIf="showOrderDetails == true">{{selectedOrder.manufacturer_partnumber}}</h5>
          </span>
      </div>
  </div>
  <span class="ac-order-drawer-head">
      <h4 style="font-size: 13px;">Customer Info</h4>
  </span>
  <div class="ac-order-details">
      <span style="width: auto;min-width: 20%;padding-right: 10px;">
          <p>Name</p>
          <h5 *ngIf="showOrderDetails == true">{{selectedOrder.ConsumerName}}</h5>
      </span>
      <span style="width: auto;min-width: 30%;padding-right: 10px;">
          <p>Email</p>
          <h5 *ngIf="showOrderDetails == true">{{selectedOrder.email}}</h5>
      </span>
      <span style="width: auto;min-width: 25%;">
          <p>Phone</p>
          <h5 *ngIf="showOrderDetails == true">{{selectedOrder.Phone}}</h5>
      </span>
  </div>
  <span class="ac-order-drawer-head">
      <h4 style="font-size: 13px;">Shipping Info</h4>
  </span>
  <div class="col-md-2 ac-productimg-field ac-shippinginfo-logo">
      <div class="shippingInfo-img-viewer">
          <img src="assets/demo-assets/logo_fedex.jpg">
      </div>
  </div>
  <div class="col-md-10">
      <div class="productinfo-field">
           <span style="width: 33%;">
              <p>Tracking #</p>
              <h5 *ngIf="showOrderDetails == true">{{selectedOrder.tracking}}</h5>
          </span>
          <span style="width: 33%;">
            <p>Distributor OrderID</p>
            <h5 *ngIf="showOrderDetails == true">{{selectedOrder.SS_order}}</h5>
        </span>
          <span style="width: 33%;">
              <p>Status</p>
               <h5 *ngIf="showOrderDetails == true">{{selectedOrder.order_status}}</h5> 
              <!-- <h5 *ngIf="showOrderDetails == true && selectedOrder.service"> Processed with {{selectedOrder.service}}</h5> -->
          </span>
      </div>
  </div>
  <div class="productinfo-field">
       <span style="width: 100%;">
          <p>Shipping Address</p>
          <h5 *ngIf="showOrderDetails == true">2244 Henderson Mill Rd NE Ste 300, Atlanta, GA 30345</h5>
      </span>
      <span style="width: 100%;">
          <p>FFL #</p>
          <h5 *ngIf="showOrderDetails == true">{{selectedOrder.FFL}}</h5>
      </span>
  </div>
    <!-- <span class="ac-create-employee-head">
      <a href="javascript:void(0);" class="ac-close-employee-drawer"></a>
      <h4>Add Employee</h4>
    </span>
    <form class="ac-create-employee-body">
      <div class="form-group">
        <label for="usr_firstname">FIRST NAME</label>
        <input type="text" class="form-control" placeholder="Enter your first name" id="usr_firstname">
      </div>
      <div class="form-group">
        <label for="usr_lastname">LAST NAME</label>
        <input type="text" class="form-control" placeholder="Enter your last name" id="usr_lastname">
      </div>
      <div class="form-group">
        <label for="usr_emailid">EMAIL ID</label>
        <input type="email" class="form-control" placeholder="Enter your email address" id="usr_emailid">
      </div>
      <div class="form-group">
        <label for="usr_password">PASSWORD</label>
        <input type="password" class="form-control" placeholder="Enter your password" id="usr_password">
      </div>
      <div class="form-group">
        <label for="usr_confirm_password">CONFIRM PASSWORD</label>
        <input type="password" class="form-control" placeholder="Confirm your password" id="usr_confirm_password">
      </div>
      <span class="ac-create-employee-foot">
        <button type="submit" class="btn btn-default">CREATE EMPLOYEE</button>
      </span>
    </form> -->
  </div>

  </div>