
<div [ngClass]="{'ac-create-employee-on': demoService.showclickorder  || demoService.showNav? true : false, 'ac-main-nav-on' :demoService.subMenuToggle ? true : false}" >
  <!-- Left Side Nav Start -->
  <div class="ac-main-nav-wrap">
    <div class="ac-main-nav-head">
      <a routerLink="/dashboard" class="ac-main-nav-logo">APP<i>COHESION</i></a>
      <a href="javascript:void(0);" class="ac-main-nav-toggle" (click) = "demoService.subMenuToggle =!demoService.subMenuToggle"><i></i><i></i><i></i></a>
    </div>
    <div class="ac-main-nav-body">
      <div class="ac-main-nav-gen-items">
        <ul>
          <!--<li><a href="dashboard.html" class="ac-dash-item-1"><i>Dashboard</i></a></li>-->
          <li><a routerLink="../dashboard"   class="ac-dash-item-1"><i>Dashboard</i></a></li>
          <li *ngIf="userGroup == configUserGroup"><a routerLink="retailer" routerLinkActive="active" class="ac-dash-item-2"><i class="flip">Distributor Management</i><i class="flop" style="display:none;">Distributor</i></a></li>
   
    <!-- <li><a  routerLink="markup" routerLinkActive="active"  class="ac-dash-item-2"><i class="flip">Distributor Management</i><i class="flop" style="display:none;">Distributor</i></a></li> -->
          <!--<li><a href="employee-management.html" class="ac-dash-item-3 active"><i class="flip">Employee Management</i><i class="flop" style="display:none;">Employee</i></a></li> -->
          <li *ngIf="userGroup == configUserGroup"><a  routerLink="employee" routerLinkActive="active" class="ac-dash-item-3"><i class="flip">Employee Management</i><i class="flop" style="display:none;">Employee</i></a></li>
          <li><a routerLink="order" routerLinkActive="active" class="ac-dash-item-4"><i class="flip">Orders</i><i class="flop" style="display:none;">order</i></a></li>
          <li><a href="javascript:void(0);" class="ac-dash-item-5"><i>Customers</i></a></li>
          <li><a href="javascript:void(0);" class="ac-dash-item-6"><i>Reports</i></a></li>
          <li><a href="javascript:void(0);" class="ac-dash-item-7"><i>Settings</i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Left Side Nav End -->

  <!-- Main Section Start -->
  <div class="ac-main-content-wrap">
    <!-- Global Header Start -->
    <div [ngClass]="showSearchIconRead ? 'ac-global-header ac-search-on' : 'ac-global-header'" align="left">
      <div class="col-xs-8 col-sm-8 col-lg-7 ac-search-wrap">
        <div class="ac-search-inset">
            <!-- <span class="ac-search-shrinked" style="opacity: 0;">
              <i class="glyphicon glyphicon-search" ></i>
              <input type="search" placeholder="Search for firmarms, distributors, manufacturers, equipments, status etc..." name="search"  [(ngModel)]="productsearch_name" (keyup.enter)="getToken()">
            </span> -->
            <!--<a href="javascript:void(0);" class="ac-search-trigger"><i class="glyphicon glyphicon-search"></i></a> -->
        </div>

        <span class="">
          <select class="dropdownSearch" name ="searchType" [(ngModel)]="searchType" (ngModelChange)="onSearchChange($event)">
            <!-- <option>Search Type</option>
            <option>GSIN</option>
            <option>Manufacturer Part Number</option> -->
            <option *ngFor="let value of values" [ngValue]="value.key">{{value.name}}</option>
          </select>
        </span>
        <!-- <label class="ac-required-field">{{errorMessage}}</label> -->
        <input type="text" class="serchInput" placeholder="Enter GSIN#" [hidden]="hideGSINSearch" [(ngModel)]="searchGSIN" name="searchgsin">

        <span class="" [hidden]="hideMFGSearch">
          <select class="dropdownSearch" [(ngModel)]="selectManufacturer" name="selectManufacturer">
            <!-- <option value="0">Select Manufacturer</option>
            <option value ="1">ABA - AMERICAN BUILT ARMS COMPANY</option> -->
             <option *ngFor="let value of manufacturers" [ngValue]="value.key">{{value.name}}</option>
          </select>
        </span>

        <input type="text" class="serchInput" placeholder="Enter part #" [hidden]="hideMFGSearch" [(ngModel)]="searchMFG" name="searchmfg" [disabled]="!selectManufacturer">
        <button class="searchAvailabilityBtn" (click)="getToken()" [disabled]="!searchGSIN && !searchMFG">SEARCH AVAILABILITY</button>
      </div>


      <div class="col-xs-4 col-sm-4 col-lg-5 ac-user-controls">
        <!-- <span class="ac-place-order-btn">
          <a href="javascript:void(0);" class="ac-place-order">Place an Order</a>
        </span> -->
        <span class="ac-notification-links">
          <a href="javascript:void(0);"><i class="glyphicon glyphicon-envelope"></i><i class="ac-notification">20</i></a>
          <a href="javascript:void(0);"><i class="glyphicon glyphicon-bell"></i><i class="ac-notification">3</i></a>
        </span>
        <span class="ac-user-actions">
          <span class="ac-user-img">
            <img src="assets/demo-avatar.png" alt="FIRST NAME HERE">
            <i class="glyphicon glyphicon-menu-down"></i>
          </span>
          <h3>Elizabeth Grace</h3>
          <span class="ac-user-drop-wrap" style="display: none;">
            <ul class="ac-user-dropdown">
              <li><a href="javascript:void(0);">My Profile</a></li>
              <li><a href="javascript:void(0);">Menu Item</a></li>
              <li><a (click)="logout()">Log Out</a></li>
            </ul>
          </span>
        </span>
      </div>
    </div>

    
    <!-- Global Header End -->
    <!-- Generic wrap start -->
    <div class="ac-generic-wrap">
        <div  class = "loader" [hidden]="!demoService.loading">
        </div>
      <div [hidden]="demoService.loading">
      <router-outlet></router-outlet>
        </div>
    <!-- Generic wrap end -->
  </div>
    <!-- Generic wrap end -->
  </div>
  <!-- Main Section End -->

  <!-- Quick Access Bar Start -->
  <div class="ac-quick-access-wrap">
    <a href="javascript:void(0);" class="ac-quick-access-togglr"><i class="glyphicon glyphicon-th-large flip"></i><i class="glyphicon glyphicon-th-list flop" style="display:none;"></i></a>
    <ul class="ac-quick-access-buttons">
      <li><a href="javascript:void(0);" class="ac-qacc-item1"><i style="display: none;">Menu Name1</i></a></li>
      <li><a href="javascript:void(0);" class="ac-qacc-item2"><i style="display: none;">Menu Name2</i></a></li>
      <li><a href="javascript:void(0);" class="ac-qacc-item3"><i style="display: none;">Menu Name3</i></a></li>
      <li><a href="javascript:void(0);" class="ac-qacc-item4"><i style="display: none;">Menu Name4</i></a></li>
      <li><a href="javascript:void(0);" class="ac-qacc-item5"><i style="display: none;">Menu Name5</i></a></li>
      <li><a href="javascript:void(0);" class="ac-qacc-item6"><i style="display: none;">Menu Name6</i></a></li>
    </ul>
  </div>
  
  <!-- Quick Access Bar End -->



