
<div [ngClass]="{'ac-create-employee-on': demoService.showclickorder  || demoService.showNav? true : false, 'ac-main-nav-on' :demoService.subMenuToggle ? true : false, 'ac-edit-profile-drawer-on' : demoService.showEditRetailerView ? true : false, 'ac-profile-drawer-on' : demoService.showRetailerProfile ? true : false}" >
  <!-- Left Side Nav Start -->
  <div class="ac-main-nav-wrap">
    <div class="ac-main-nav-head">
      <a routerLink="/dashboard" class="ac-main-nav-logo">APP<i>COHESION</i></a>
      <a href="javascript:void(0);" class="ac-main-nav-toggle" (click) = "demoService.subMenuToggle =!demoService.subMenuToggle"><i></i><i></i><i></i></a>
    </div>
    <div class="ac-main-nav-body">
      <div class="ac-main-nav-gen-items">
        <ul>
          <li><a routerLink="../dashboard"   class="ac-dash-item-1"><i>Dashboard</i></a></li>

          <li *ngIf="((userGroup == configSuperAdminUserGroup || userGroup == configRetailerAdminUserGroup) ? hideRetailer : true) && (userGroup == configUserGroup )"><a routerLink="markup" class="ac-dash-item-2"><i class="flip">Distributor Management</i><i class="flop" style="display:none;">Distributor</i></a></li>
          
          <li *ngIf="userGroup == configSuperAdminUserGroup ? showRetailer : false"><a routerLink="RetailerMarkup" class="ac-dash-item-2"><i class="flip">Retailer Management</i><i class="flop" style="display:none;">Retailer Management</i></a></li>
          
          <li *ngIf="userGroup == configRetailerAdminUserGroup"><a routerLink="store-location" class="ac-dash-item-8 "><i class="flip">Store Outlets</i><i class="flop" style="display:none;">Store</i></a></li>
          
          <li *ngIf="userGroup == configUserGroup || userGroup == configSuperAdminUserGroup || userGroup == configRetailerAdminUserGroup"><a  routerLink="employee" routerLinkActive="active" class="ac-dash-item-3"><i class="flip">Employee Management</i><i class="flop" style="display:none;">Employee</i></a></li>
          
          <li><a routerLink="order" routerLinkActive="active" class="ac-dash-item-4"><i class="flip">Orders</i><i class="flop" style="display:none;">order</i></a></li>

          <!-- <li><a routerLink="cart" routerLinkActive="active" class="ac-dash-item-4"><i class="flip">Cart</i><i class="flop" style="display:none;">Cart</i></a></li> -->
          
          <!--  <li><a href="javascript:void(0);" class="ac-dash-item-5"><i>Customers</i></a></li>
          <li><a href="javascript:void(0);" class="ac-dash-item-6"><i>Reports</i></a></li> 
          <li><a  routerLink="retailer" routerLinkActive="active" class="ac-dash-item-3"><i class="flip">Settings</i><i class="flop" style="display:none;">Settings</i></a></li> -->
        </ul>
      </div>
    </div>
  </div>
  <!-- Left Side Nav End -->

  <!-- Main Section Start -->
  <div class="ac-main-content-wrap">
    <!-- Global Header Start -->
    <div [ngClass]="showSearchIconRead ? 'ac-global-header ac-search-on' : 'ac-global-header'" align="left">
      <div class="col-xs-8 col-sm-8 col-lg-7 " style="top: 10px;" *ngIf="userGroup != configSuperAdminUserGroup">
       <app-search-widget></app-search-widget>
      </div>


      <div class="col-xs-4 col-sm-4 col-lg-5 ac-user-controls">
        <!-- <span class="ac-notification-links">
          <a href="javascript:void(0);"><i class="glyphicon glyphicon-envelope"></i><i class="ac-notification">20</i></a>
          <a href="javascript:void(0);"><i class="glyphicon glyphicon-bell"></i><i class="ac-notification">3</i></a>
        </span> -->
        <span class="ac-user-actions">
          <span class="ac-user-img">
            <img src="assets/default-avatar.png" alt="FIRST NAME HERE">
            <i class="glyphicon glyphicon-menu-down"></i>
          </span>
          <h3 *ngIf="userDetails">{{userDetails.first_name }} {{userDetails.last_name}}</h3>
          <span class="label userRolePlaceholder">{{loggedInUserRole}}</span>
          <span class="ac-user-drop-wrap" style="display: none;">
            <ul class="ac-user-dropdown">
              
                <li *ngIf = "userGroup == configSuperAdminUserGroup ? demoService.showRetailerProfile : true"><a (click) = "retailerProfile($event)">My Profile</a></li>
             <!--  <li><a>Menu Item</a></li> -->
              <li><a (click)="logout()">Log Out</a></li>
            </ul>
          </span>
        </span>
      </div>
    </div>

    
    <!-- Global Header End -->
    <!-- Generic wrap start -->
    <div class="ac-generic-wrap">
        <div  class = "loader" [hidden]="!demoService.loading">
        </div>
      <div [hidden]="demoService.loading">
      <router-outlet></router-outlet>
        </div>
    <!-- Generic wrap end -->
  </div>
    <!-- Generic wrap end -->
  </div>


    <!-- profile drawer : START -->
    <div class="ac-profile-drawer" style="right:-400px;opacity:0;">
        <span class="addRetailerCloseDrawer profile-drawer-close" (click)="demoService.showRetailerProfile = false"></span>
        <div class="profile-header">
          <h4>PROFILE</h4>
        </div>
        <div class="ac-quick-profile-info">
          <div class="ac-quick-profile-img">
            <img src="assets/demo-assets/retailer1.png">
           
            <h4 *ngIf="demoService.showRetailerProfile == true">{{retailerProfileDetails.Name}}</h4>
            <!-- <span>San Francisco,United States</span> -->
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-12 socialmedia-listing">
            <ul class="socialmedia-unsorted">
             <!-- <li>
                <a href="#">
                  <span><img src="assets/images/facebook-logo.svg"/></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span><img src="assets/images/twitter-logo-silhouette.svg"/></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span><img src="assets/images/linkedin-logo.svg"/></span>
                </a>
              </li> -->
            </ul>
          </div>
          <div class="clearfix"></div>
          <div class="ac-contacts">
            <div class="contact-info-wrapper" *ngIf="demoService.showRetailerProfile == true">{{retailerProfileDetails.UserEmail}}
            </div>
            <div class="contact-info-wrapper contact-call" *ngIf="demoService.showRetailerProfile == true">{{retailerProfileDetails.UserPhone}}
            </div>
           <!-- <div class="contact-info-wrapper contact-fax">702-567-1158
            </div> -->
          </div>
        <!--  <div class="retailer-address-wrapper">
            <h4>Primary Address</h4>
            <span>Pier 33 - Alcatras Island San Francisco,CA,USA</span>
          </div> -->
         <!-- <div class="retailer-address-wrapper">
            <h4>Open Hours</h4>
            <span>Mon-Sat 9:00am-7:00pm | Sunday 11:00am-5:00pm</span>
          </div> -->
          <span class="ac-create-employee-foot ac-edit-profile">
            <button type="submit" class="btn btn-default" (click)="editRetailerProfile($event)">EDIT PROFILE</button>
          </span>
        </div>
      </div>
      <!-- profile drawer : END -->

   <!-- edit profile drawer starts -->
   <form class="ac-create-employee-body" #employeeForm="ngForm">
      <div class="ac-edit-profile-drawer" style="right:-400px;opacity:0;">
          <span class="addRetailerCloseDrawer profile-drawer-close" (click)="demoService.showEditRetailerView = false"></span>
          <div class="clearfix"></div>
          <div class="profile-header">
            <h4 style="text-align:center">EDIT PROFILE</h4>
          </div>
          
          <div class="ac-quick-profile-info" *ngFor="let retailer of editRetailerDetails">
            <div class="ac-quick-profile-img">
              <img src="assets/demo-assets/retailer1.png">
              <div class="clearfix"></div>
            
          
             <div class="firstname-field">
               <input type="text" class="editableName pull-left" id="fname"  name="fname" placeholder="Enter first Name"  [(ngModel)]="retailer.FirstName" pattern="[a-zA-Z ]*" #fname="ngModel" required style="width:98%;border: 1px solid #dddddd;height: 30px;">
             <div *ngIf= "fname.errors  && (fname.dirty || fname.touched)" class="ac-required-field">
                <div [hidden]="!fname.errors.pattern">
                  Numbers not allowed!
                </div>
              </div>
              </div>
              <div class="lastname-field">
             <input type="text" class="editableName pull-right" id="usr_lastname" placeholder="Enter Last Name" [(ngModel)]="retailer.LastName"  name="usr_lastname"  pattern="[a-zA-Z ]*" required maxlength="10" #usr_lastname="ngModel" style="width:98%;border: 1px solid #dddddd;height: 30px;">
             <!-- <input type="text" class="form-control" placeholder="Enter your last name" id="usr_lastname" [(ngModel)]="lastName" name="usr_lastname" pattern="[a-zA-Z][a-zA-Z ]+" required minlength="1" maxlength="10" #usr_lastname="ngModel"> -->
             <!-- <span>San Francisco,United States</span> -->
             <div *ngIf= "usr_lastname.errors && (usr_lastname.dirty || usr_lastname.touched)" class="ac-required-field">
              
                <div [hidden]="!usr_lastname.errors.maxlength">
                  Last name cannot be more than 10 characters long.
                </div>
                <div [hidden]="!usr_lastname.errors.pattern">
                  Numbers not allowed!
                </div>
              </div>
             </div>
            </div>
            
            <div class="clearfix"></div>
            <div class="ac-contacts">
             
               <!-- <input class="editableContacts" type="text" name="" *ngIf="demoService.showEditRetailerView == true" value="{{editRetailerProfileDetails.UserEmail}}"> -->
                <div class="contact-info-wrapper" *ngIf="demoService.showEditRetailerView == true">{{retailer.UserEmail}}</div>
              
              <div class="contact-info-wrapper contact-call" >

               <input class="editableContacts" type="number" id="phone_number" placeholder="Enter your phone number" [(ngModel)]= "retailer.UserPhone" name="phone_number" required pattern="[0-9]*" minlength="1" maxlength="10" #phone_number="ngModel"> 
               <div *ngIf= "phone_number.errors && (phone_number.dirty || phone_number.touched)" class="ac-required-field">
                  <div [hidden]="!phone_number.errors.minlength">
                    Phone # must be 10 characters long.
                  </div>
                  <div [hidden]="!phone_number.errors.maxlength">
                    Phone # cannot be more than 10 characters long.
                  </div>
                  <div [hidden]="!phone_number.errors.pattern">
                    Only numbers allowed!
                  </div>
                </div>
              </div>
          
            </div>
            <span class="ac-create-employee-foot ac-edit-profile">
              <button type="submit" class="btn btn-default"  [disabled]="!employeeForm.form.valid ? true : false" (click)="updateRetailerProfile(retailer)">UPDATE PROFILE</button>
            </span>
          </div>
          
        </div>
      </form>
        <!-- edit profile drawer ends -->
 </div>

 <div class="row fadebg" [class.show]="updateRetailerProfilePopup"></div>
 <div class="confirmPopup" [class.show]="updateRetailerProfilePopup">
   <div class="successImgIcon"></div>
   <div class="sucessMsgText text-center">
     <h4>{{successTitle}}</h4>
     <P>{{successDescription}}</P>
   </div>
   <div class=" col-md-6 gotoDashboardBtn text-right">
     <!-- <span routerLink="/dashboard">OK</span> -->
     <span (click) ="updateRetailerProfilePopup = !updateRetailerProfilePopup" style = " margin-right: -25px;">OK</span>
   </div>
   
 </div>
 <app-message-popup></app-message-popup>

