<div class="ac-login-wrap">
      <div class="ac-logo-bg"><!-- Logo Background -->
        <div class="ac-fix-table">
          <div class="ac-fix-cell">
            <!-- Login box start -->
            <div class="ac-login-box">
              <span class="ac-login-logo">
              </span>
              <span class="ac-login-row ac-login-useremail">
                <label>Email</label>
                <input type="text" name="ac_email_forgot" [(ngModel)]= "ac_email_forgot"  placeholder="Enter your email address" autocomplete="off"/>
              </span>
              <label class="ac-required-field" style="display: none;">Error Message</label>
              <span class="ac-login-row ac-login-submit">
                <button type="submit" (click) = "sendMailForgot()">Reset Password</button>
              </span>
              <span class="ac-login-row ac-login-reset">
                <p>Registered user? <a routerLink="">Login now!</a></p>
              </span>
              <span class="ac-success-message ac-success-dark-themed">Sent! Please check your registered email address for reset password instructions</span>
              <!-- Use class 'ac-success-light-themed' to use success message in white background -->
            </div>
            <!-- Login box end -->
          </div>
        </div>
      </div>
      <span class="ac-copyright">&copy; 2017 AppCohesion. All Rights Reserved.</span>
    </div>
    
 <div class="row fadebg" [class.show]="showforgetPasswordPopup"></div>
 <div class="confirmPopup" [class.show]="showforgetPasswordPopup">
   <div class="successImgIcon"></div>
   <div class="sucessMsgText text-center">
     
     <P>{{forgetPasswordMsg}}</P>
   </div>
   <div class=" col-md-6 gotoDashboardBtn text-right">
     <!-- <span routerLink="/dashboard">OK</span> -->
     <span (click) ="showforgetPasswordPopup = !showforgetPasswordPopup" style = " margin-right: -25px;">OK</span>
   </div>
   
 </div>