 <!-- Generic wrap start -->
 <div class="">
  <div class="container-fluid" (click)="demoService.showRetailerProfile = false || this.demoService.showNav=false || demoService.showEditRetailerView = false;">
    <div class="row"><!-- Page Title -->
      <div class="col-xs-12 col-sm-9 col-lg-9">
        <h3 class="ac-page-title">Retailers</h3>
      </div>
      <div class="col-xs-12 col-sm-3 col-lg-3 text-right xs-text-left">
        <a (click)="showOrHideCreateEmployee($event);" href="javascript:void(0);" class="ac-button-outlined ac-create-employee"><i>+</i>ADD RETAILER</a>
      </div>
      <div class="col-xs-12 col-sm-3 col-lg-3"><!-- Solve E=mc2 --></div>
    </div>
    <div class="row"><!-- Employee Listing -->
      <div class="col-xs-12 col-sm-12 col-lg-12 ac-distributor-listing">
        <div *ngIf="demoService.retailerDetails && !demoService.retailerDetails.length" class="noDetails">No Details Found</div>
        <!-- Distributor Cards Start -->
        <div class="ac-distributor-cards" >
            <div *ngFor="let markup of demoService.retailerDetails; let i = index">    
            <!-- Single Card Start -->
            <div class="ac-distributor-card">
               <!-- <div class="ac-distributor-head">
                  <span class="ac-distributor-head-left">1 Sep 2017</span>
                  <span class="ac-distributor-head-right">
                    <span class="ac-more-menu"> 
                      <i class="ac-more-dots"></i>
                      <ul style="display: none;">
                        <li><a href="#">Option One</a></li>
                        <li><a href="#">Option Two</a></li>
                        <li><a href="#">Option Three</a></li>
                      </ul>
                    </span>
                  </span>
               </div> -->
               <div class="ac-distributor-clickable" (click)="retailerCategoryList(markup.retailerId)">
                   <div class="ac-distributor-body">
                      <img src="assets/demo-assets/dealer1_lg.png" alt="United Firmarms" class="ac-distrb-logo">
                      <h4>{{markup.retailerName}}</h4>
                   </div>
                   <div class="ac-distributor-foot">
                     <!-- <span class="ac-distributor-foot-left" style="width:100%;border-right:none;"><strong>8</strong><br>Catogaries Available</span> -->
                   </div>
               </div>
             </div>
            </div>
            <!-- Single Card End -->
        </div>
        <!-- Distributor Cards Start -->
         <!-- create user -->
  <div class="ac-create-employee-drawer" (click)="$event.stopPropagation();" style="right:-400px;opacity:0;">
    <span class="ac-create-employee-head">
      <a (click)="showOrHideCreateEmployee($event)" href="javascript:void(0);" class="ac-close-employee-drawer"></a>
      <h4>Add Retailer</h4>
    </span>
    <!-- <div class="form-group" style="margin-bottom: 0px;color: #595959;float: left;font-size: 9px;width: 100%;font-weight: 600;padding: 0 20px;">
        <label>USER TYPE</label>
      </div>
      <div class="radioContainer">
        <span>
          <input type="radio" id="option1" name="selector" checked="checked">
          <label class="retailer-click" for="option1">Retailer Admin</label>
          <div class="check"></div>
        </span>
        <span>
          <input type="radio" id="option2" name="selector">
          <label class="store-click" for="option2">Store Admin</label>
          <div class="check"></div>
        </span>
      </div> -->
    <form (ngSubmit)="createRetailer(retailerInfo,retailerForm,'');" novalidate class="ac-create-employee-body retailer-admin-form" #retailerForm="ngForm">
      <div class="form-group">
        <label for="firstName" class="field-wrapper required-field">FIRST NAME</label>
        <input  type="text" class="form-control" placeholder="Enter your first name" id="firstName" name="firstName" [(ngModel)]="retailerInfo.firstName" minlength="3" pattern="[a-zA-Z ]*"  #firstName="ngModel" required>
        <div class="clearfix"></div>
        <div class="invalidField" *ngIf="firstName.invalid && firstName.dirty">
          Please Enter characters with Minimum length 3
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="field-wrapper required-field">LAST NAME</label>
        <input  type="text" class="form-control" placeholder="Enter your last name" id="lastName" name="lastName" [(ngModel)]="retailerInfo.lastName" minlength="3" pattern="[a-zA-Z ]*"  #lastName="ngModel" required>
        <div class="clearfix"></div>
        <div class="invalidField" *ngIf="lastName.invalid  && (lastName.dirty || lastName.touched)">
          Please Enter characters with Minimum length 3
        </div>
      </div>
      <div class="form-group" *ngIf="role_id!='4'">
        <label for="firstName" class="field-wrapper required-field">RETAILER NAME</label>
        <input  type="text" class="form-control" placeholder="Enter retailer name" id="retailerName" name="retailerName" [(ngModel)]="retailerInfo.retailerName" minlength="3" pattern="[a-zA-Z ]*"  #retailerName="ngModel" required>
        <div class="clearfix"></div>
        <div class="invalidField" *ngIf="retailerName.invalid && retailerName.dirty">
          Please Enter characters with Minimum length 3
        </div>
      </div>
      <div class="form-group" *ngIf="role_id!='4'">
        <label for="retailerAddress" class="field-wrapper required-field">RETAILER ADDRESS</label>
        <textarea  type="text" class="form-control" placeholder="Enter retailer address" id="retailerAddress" name="retailerAddress" [(ngModel)]="retailerInfo.retailerAddress" minlength="3"  #retailerAddress="ngModel" required></textarea>
        <div class="clearfix"></div>
        <div class="invalidField" *ngIf="retailerAddress.invalid && retailerAddress.dirty">
          Please Enter characters with Minimum length 3
        </div>
      </div>
      <div class="form-group">
        <label for="emailId">EMAIL ID</label>
        <input  type="email" class="form-control" placeholder="Enter your email address" id="emailId" name="emailId" [(ngModel)]="retailerInfo.emailId" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  #emailId="ngModel">
        <div class="clearfix"></div>
        <div class="invalidField" *ngIf="emailId.invalid && emailId.dirty">
          Invalid Email
        </div>
      </div>
      <div class="form-group">
        <label for="phoneNumber" class="field-wrapper required-field">PHONE</label>
        <input pattern="^(0|[1-9][0-9]*)$"  type="text" class="form-control" placeholder="Enter your phone number" id="phoneNumber" name="phoneNumber" [(ngModel)]="retailerInfo.phoneNumber"   #phoneNumber="ngModel" required>
        <div class="clearfix"></div>
        <div class="invalidField" *ngIf="phoneNumber.invalid && phoneNumber.dirty">
          Invalid Phone Number
        </div>
      </div>
      <div class="form-group">
          <input type="checkbox" [(ngModel)]="checkboxValue"  name="onoffswitch" id="onoffswitch" #onoffswitch="ngModel">Select Default Inventory<br>
      </div>
      <!-- <div class="form-group">
        <label for="userPassword1">PASSWORD</label>
        <input  type="password" class="form-control" placeholder="Enter your password" id="userPassword1" name="userPassword1" [(ngModel)]="retailerInfo.userPassword1" minlength="8" pattern='^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d][A-Za-z\d!@#$%^&*()_+]{7,19}$'    #userPassword1="ngModel" required>
        <div class="invalidField" *ngIf="userPassword1.invalid && userPassword1.dirty">
          Minimum One Number , One Special Charecter 8 to 20 Characters.
        </div>
      </div>
      <div class="form-group">
        <label for="userPassword2">CONFIRM PASSWORD</label>
        <input  type="password" class="form-control" placeholder="Confirm your password" id="userPassword2" name="userPassword2" [(ngModel)]="retailerInfo.userPassword2" minlength="8" pattern='^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d][A-Za-z\d!@#$%^&*()_+]{7,19}$' (keyup)="validatePasswordMatch(retailerInfo,userPassword2)"   #userPassword2="ngModel" required>
        <div class="invalidField" *ngIf="!isPasswordMismatch&&userPassword2.dirty&&userPassword2.invalid">
          Password Mismatch 
        </div>
      </div> -->
      <!-- <div class="form-group">
        <label for="usr_lastname">UPLOAD LOGO</label>
        <div class="ffl-upload-field" type="file">upload Logo Here</div>
      </div>         -->
      <span class="ac-create-employee-foot">
        <button type="submit" [disabled]="retailerForm.invalid" class="btn btn-default">ADD RETAILER</button>
      </span>
    </form>

   
  </div>
      </div>
    </div>
  </div>
</div>
<!-- Generic wrap end -->
<div class="row fadebg" [class.show]="demoService.createUserPopup"></div>
<!-- <div class="" [ngClass]="demoService.showPopup ? 'confirmPopup' : 'hideLayout'"> -->
   
<div class="confirmPopup" [class.show]="demoService.createUserPopup">
  <div class="successImgIcon"></div>
  <div class="sucessMsgText text-center">
    <h4>{{demoService.createUserStatus}}</h4>
    <P>{{demoService.createUserMessage}}</P>
  </div>
  <div class=" col-md-6 gotoDashboardBtn text-right">
    <span *ngIf="!checkbtn" (click) ="demoService.createUserPopup= !demoService.createUserPopup" style = " margin-right: -25px;">OK</span>
     <span *ngIf="checkbtn" (click) ="proceedDefaultInventory(retailerInfo,retailerForm)" style = " margin-right: -25px;">Proceed</span> 
    <span  *ngIf="checkbtn" (click) ="addDefaultInventory(retailerInfo,retailerForm);" style = " margin-right: -25px;">Add</span>
  
  </div>
  
</div>


<!-- <div class="ac-actions-overlay" style="display:none;" (click)="demoService.showRetailerProfile = false || this.demoService.showNav=false || demoService.showEditRetailerView = false;"></div> -->